<div>
    <input [model]="title" type="text" placeholder="请在此填入标题">
    <br>
    <input [model]="des" type="text" placeholder="请在此填入内容">
    <br>
    <input [model]="settime" type="checkbox" value="true">是否设置时间提醒
    <br>
    <select [if]="settime.length>0" [model]="time">
        <option value="" style="display: none" selected>请选择</option>
        <option value="2016">2016年</option>
        <option value="2017">2017年</option>
        <option value="2018">2018年</option>
    </select>
    <input type="radio" value="1" [model]="type">便签
    <input type="radio" value="2" [model]="type">通知
    <button (click)="confirm()">confirm</button>
</div>